@charset "utf-8";

/***********************************
		REFERENCES
font-sizes
6.854rem
4.236rem
2.618rem
1.618rem
1rem
0.618rem

font-families
Droid Serif, Droid Sans

colors
#000000
#222222
#333333
#D4D4D4
#CC3300
#BADA55
#FFFFFF
plus the shadow for the text


***********************************/

*{
	padding:0;
    margin:0;
    
}

/***********************************
		DEFAULTS
***********************************/
body{
	background-color: #222;
    width: 100%;
    padding: 0,10%,0,10%;
    
}
h1, h2, h3, h4{
	font-family:serif;  /* you need a font stack here */
}
h1{
    background-color: #000;
    color: #FFFFFF;
    font-size: 6.854rem;
    font-style: Droid Sans;
    
	}
h2{
	color: red;
    font-size:2.618rem;
    padding-right: 20%;
    
    
    
}
h3{color: red;
    font-size:2.618rem;
	
}
h4{
	
}
p, li, a{
	font-family: sans-serif; /* you need a font stack here */
   
}
img{
	border-radius: 80px;
    width:90%;
	max-width: 100%;
	box-sizing: border-box;
    
}
ul{
	list-style-type: none;
     
}
a:link, a:visited{
	transition: all 0.8s linear;
}
a:hover, a:active, a:focus{
	text-decoration: none;
}

/***********************************
		LAYOUT
***********************************/
.wrapper{
	width:50%;
	max-width: 1020px;
	min-width: 400px;
	margin:0 auto 2.0rem;
	background-color: #d4d4d4;
    
    
}
.header{
	 
    
}
.main{
    
    padding-left: 5%;
    padding-right: 5%;
	
}
.footer{
    background-color:#333333 ;
	
}

/***********************************
		LINKS 
-for any that are different than the default
***********************************/

.footer a:link,
.footer a:visited{
	display: block;
    color:#CC3300; 
    text-decoration:none;
        
    
	
}
.footer a:hover
{
    color: #BADA55;
     font-size: 15px;
}
.footer a:active,
.footer a:focus{
   
	color: #BADA55;
    
    
}


/***********************************
		CONTENT
***********************************/
.header h1{
    background-image: url("../img/moon-header.jpg");
    background-position: right;
    min-height: 200px;
    display: block;
    box-sizing: border-box;
    height: 450px;
    background-repeat: no-repeat;
    padding-right: 50%;
    padding-left: 10%;
    float: right;
    text-align: right;
    
    
}
.main h2{
	}
.main h3{
	
}
.main p{
     padding-bottom: 5%;
    line-height: 150%;
    margin-bottom: 1%;
	
}
.main img{
	/* use border-radius to crop image */
	/* choose a width percentage for the image too */   
    width: 30%;
}
.left{
	float:left;
	margin-right:10px;
	margin-bottom: 10px;
}
.footer p{
    padding-top: 2%;
    padding-left: 2%;
    color: #D4D4D4;
}
.footer li{
    width: 275px;
    display: inline-block;
    padding-left: 10%;
     padding-top: 1%;
     padding-bottom: 1%;
        
    /* make these 50% the width of the footer */
}
